<section class="jumbotron">
    <div class="shadow"></div>
    <div class="container cover-content">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>EventCatApp</h1>
                <span class="des-cover">
                    Aplikacija koja će vam pomoći da organizujete druženja i događaje sa svojim prijateljima na što lakši i ugodniji način!
                </span>

                <a href="#/event/create" class="see-more">
                    Kreiraj event
                </a>
                <a href="#/register" class="see-more reg">
                    Prijavi se
                </a>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" style="padding:45px 15px;text-align:center;">
                <i style="font-size: 120px" class="fa fa-calendar-o" aria-hidden="true"></i>
                <h2 style="text-transform: uppercase;">Kreirajte event</h2>
                <span class="description">
                    Napravite plan događaja, odredite mjesto i vrijeme i kroz kratak opis predstavite svim pozvanima šta će se zapravo dešavati na pomenutom događaju.
                </span>
            </div>
            <div class="col-md-4 col-sm-12" style="padding:45px 15px;text-align:center;">
                <i style="font-size: 120px" class="fa fa-users" aria-hidden="true"></i>
                <h2 style="text-transform: uppercase;">Pozovite prijatelje</h2>
                <span class="description">
                    Brzo i jednostavno pronađite prijatelje koji koriste sistem i pozovite ih da se pridruže događaju i znaju kada i gdje ćete se družiti.
                </span>
            </div>
            <div class="col-md-4 col-sm-12" style="padding:45px 15px;text-align:center;">
                <i style="font-size: 120px" class="fa fa-envelope-o" aria-hidden="true"></i>
                <h2 style="text-transform: uppercase;">Razmijenite poruke</h2>
                <span class="description">
                    Aplikacija vam omogućava da brzo i jednostavno razmijenite poruke sa svim učesnicima eventa i da se brzo i jednostavno dogovorite oko svih detalja.
                </span>
            </div>
        </div>
    </div>
</section>